<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="QuanLySinhVien" connectionString="Server=tcp:22521461.database.windows.net,1433;Initial Catalog=QuanLySinhVien;Persist Security Info=False;User ID=tqthy;Password=!Thy1234;MultipleActiveResultSets=False;Encrypt=True;TrustServerCertificate=False;Connection Timeout=30;"/>
	</connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>